body {
	background: skyblue;
	font-family: "Avenir";
	margin: 0;
}

.square {
	width: 30%;
	float:left;
	margin: 1.66%;
	background: purple;
	padding-bottom: 30%;
	border-radius: 15%;
	transition: all 0.5s;
}

#container {
	margin:2.5% auto;
	max-width: 600px;
}

h1 {
	color: white;
	text-align: center;
	background: steelblue;
	margin: 0;
	padding: 5%;
	font-weight: normal;
	text-transform: uppercase;



}
#colorDisplay {
	font-size: 200%;
}

#stripe {
	background: white;
	height: 30PX;
	text-align: center;
	color: black;
}

#message {
	display:; inline-block;
	width: 20%;
	font-family: "Avenir"
	border: none ;
	background: none;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	font-size: 120%;
	transition: all 0.5s;
}
button {
	border: none ;
	background: none;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	font-size: 120%;
	transition: all 0.5s; 
}
button:hover {
	color: white;
	background: steelblue;}

.selected {
	background: lightgreen;
}

